@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body{
  height: 100vh;
  max-width: 1920px;
  min-width: 320px;
}

@media (min-width: 768px) {
 body{
  min-width: 600px;
 }
}

@media (min-width: 1024px) {
  body{
    min-width: 900px;
   }
}

@media (min-width: 1200px) {
  body{
    min-width: 1000px;
   }
}
